@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #7c5cff;
  --color-muted: #9aa4b2;
  --color-dark-950: #07060a;
  --color-dark-900: #0b0b10;
  --color-dark-800: #0f1316;
  --color-dark-700: #111316;
  --color-dark-600: #15202b;
  --color-dark-500: #22313a;
}